.search-tag {
    min-height: 25px;
    padding: 0 14px;
    border-radius: 30px;
    color: #282828;
    line-height: 23px;
    border: 1px solid #867d67;
    font-size: 1.2rem;
    font-weight: 400;
    text-shadow: none;

    margin-top: 5px;
    margin-left: 9px;
}

.tekijapankki-btn {
    display: inline-block;
    min-height: 30px;
    padding: 0 15px;
    border: 1px solid rgba(0,0,0,.3);
    border-radius: 0;
    background-color: #fff;
    background-image: none;
    background-origin: border-box;
    color: #666;
    font: inherit;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    text-transform: none;
    overflow: visible;
    vertical-align: middle;
    -webkit-appearance: none;

    padding: 3px 14px;
    border: 1px solid #867d67;
    color: #867d67;
    font-size: 14.399px;
    font-size: 1.2rem;
    font-weight: 400;

    &:not(:disabled) {
        cursor: pointer;
    }
}

.painters {

    &-item {
        display: flex;
        
        padding: 18px 0;

        &:not(:last-child) {
            border-bottom: 1px solid #ccc;
        }
    }

    &-avatar-container {
        float: left;
        margin-right: 20px;
    }

    &-info {
        flex: 1;
        padding-left: 10px;

        border-right: 1px dotted #ccc;

        &_icon {
            border-radius: 50%;
        }
    }

    &-action {
        min-width: 140px;
        padding-left: 10px;

        &_btn {
            @extend .tekijapankki-btn;

            width: 100%;
            min-width: 136px;
            padding: 3px 11px;
            border-color: #548235;
            color: #548235;

            &:hover {
                background-color: #8bd000;
                color: white;
            }

            &:focus {
                outline: none;
            }
        }
    }

}



// <div key={i} className="painters-item">
// <div className="painters-avatar-container">
//     <img src={item.urls.small} width="140" height="140"/>
// </div>
// <div className="painters-info">
//     <p>{item.user.name}</p>
//     <p><img src={item.user.profile_image.small}/></p>
//     <p>{item.user.bio}</p>
//     <p>{item.alt_description}</p>
// </div>
// <div className="painters-action"><button className="painters-action_btn">Action</button></div>
// </div>